<li class='well well-small' data-relationship-id='<%= relationship.id %>' data-relationship-destroy='<%= entity_relationship_path(parent, relationship) %>'>
  <h4><i class='icon-list glyphb'></i> <%= relationship.child.entity_definition.name %></h4>
</li>
