<div class="section-header"><div class="label">Related Applications</div></div>
<div class="section-content">
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  <% @entity.entity_relationships.each do |entity_relationship| %>
    <tr>
      <td>
        <%= entity_relationship.child.entity_definition.name %>
      </td>
      <td>
        <%= entity_relationship.child.entity_definition.description %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<%= link_to 'Manage Relationships', manage_entity_relationships_path(@entity.id) %>