<div class='span11'>
  <h2 class='text-center'><%= @parent.name %></h2>
</div>
<div class='span5 well well-large'>
  <% if @parent.entity_relationships.count == 0 %>
    <p class='lead'>This entity has no children.</p>
  <% else %>
    <button id="disassociate-button" class="btn btn-large">Disassociate <i class='icon-forward glyphb'></i></button><br /><br />
  <% end %>
  <ul class="unstyled entity-list">
    <% @parent.entity_relationships.each do |relationship| %>
      <%= render "#{relationship.child.entity_definition.class.table_name}/entity", entity: relationship.child %>
    <% end %>
  </ul>
</div>
<div class='span5 well well-large'>
  <% if @entities.count == 0 %>
    <p class='lead'>This application is already related to all available applications.</p>
  <% else %>
    <button id="associate-button" class="btn btn-large"><i class='icon-backward glyphb'></i> Associate</button><br /><br />
  <% end %>
  <ul class="unstyled entity-list">
    <% @entities.each do |entity| %>
      <%= render "#{entity.entity_definition.class.table_name}/entity", entity: entity %>
    <% end %>
  </ul>
</div>
