#draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color: red; }
#droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; background-color: yellow; }
